/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    font-family: 'Roboto Slab', serif;
}

fieldset {
    border: none;
}

input[type="email"],
input[type="text"],
input[type="tel"],
select,
textarea {
    background: rgba(124, 121, 121, 0.116);
    border: none;
    width: 100%;
    padding: 0.5rem;
    border-radius: 2px 2px; 
    outline: solid 2px transparent;
    transition:all 0.25s ease-out;
}

label,
select {
    color: rgb(124, 121, 121);
}

input::placeholder,
select,
textarea::placeholder {                                                                                                      
    font-size: 0.75rem;
}

input:focus,
select:focus,
textarea:focus {
    outline: solid 2px slategray;  
    background: rgba(124, 121, 121, 0.479); 
}


input[id="name"]::placeholder,
input[id="email"]::placeholder{
    text-align: right;
}

li {
    list-style: none;
}

  /* ================================= 
    Base Layout Styles
  ==================================== */
/*Heading*/
.header {
    background: rgb(58, 172, 158);
    color: white;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.75rem;
}

.header_title {
    text-transform: uppercase;
    text-shadow: 1px 1px black;
    transition:all 0.25s ease-out;
}

/*Main*/
.main_heading-container {
    padding: 1.5rem 1rem 2rem 1rem;
    border-bottom: solid 3px black;
    text-align: center;
}

.main_heading {
    font-size: 1.2rem;
    margin: 0.75rem 0 0 0;
}

.main_paragraph {
    color: rgb(124, 121, 121);
    font-size: 0.9rem;
    margin: 0.5rem auto;
    width: 100%;
}

/*Form*/
.form {
    border-top: solid 1px black;
    margin-top: 0.25rem;
    padding-top: 1rem;
}

.form_section_heading {
    font-weight: bold;
    text-align: left;
    font-size: 1rem;
    padding: 0.5rem 0 0.5rem 0;
}

.contact_grouping > label {
    text-align: left;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.flex {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

.contact_grouping {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.contact-info {
    border-bottom: solid 2px black; 
    padding-bottom: 1.5rem; 
    margin-bottom: 1rem;
}

#zip {
    width: 50%;
}

/*Newsletter*/
.checkbox-container,
.radio-container,
.interests {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0.5rem 0 1rem;
}

.checkbox-container li,
.radio-container li {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding-bottom: 1rem;
  }

#plain-text + label {
      margin: 0;
  }

.checkbox-container input,
.radio-container input {
      margin-right: 1rem;
  }

.newsletter_selection_label,
.newsletter_format_label,
.interests_label {
    margin-bottom: 1rem;
}

textarea {
    height: 100px;
}

.btn-div {
    padding-top: 1.5rem;
}

.btn {
    width: 100%;
    padding: 1.2rem;
    color: white;
    border-radius: 5px 5px;
    align-self: center;
    border: solid 1px transparent;
    background: rgb(58, 172, 158);
    transition:all 0.25s ease-out;
}

.btn:hover,
.btn:focus,
.btn:active {
    background: white;
    color: rgb(58, 172, 158);
    border: solid 1px rgb(58, 172, 158);
}

/*Footer*/
.footer {
    padding-top: 1rem;
    text-align: center;
    color: rgb(124, 121, 121);
}
.footer_paragraph {
    font-size: 0.75rem;
}
  /* ================================= 
    Media Queries
  ==================================== */
@media (min-width: 768px) {
/*Heading*/
    .header {
        padding: 0.5rem;
        font-size: 0.65rem;
    }

    .header_title:hover {
        transform: scale(1.5);
    }
/*Main*/
    .main { 
        max-width: 1000px;
        width: 65%;
        margin: 0 auto;
        padding-top: 0.5rem;
    }

    .main_paragraph {
        font-size: 0.75rem;
    }

    .form {
        padding-top: 2rem;
    }

    .form_section_heading {
        padding-bottom: 1rem;
    }

    .contact-info {
        padding-bottom: 2.5rem;
        margin-bottom: 2.5rem;
    }

    .contact_grouping {
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
    }

    .contact_grouping > label {
        min-width: 150px;
    }
    
    #zip {
        width: 25%;
    }

}